* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    .section_cls {
        width: 93%;
        height: auto;

        #carouselExampleControls {
            width: 100%;
            height: 100vh;
        }

        .navbar {
            top: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 60px;
            background-color: rgb(255, 255, 255);

            p {
                font-size: 14px;
            }

            .sosialMedya {
                font-size: 20px;

                i {
                    margin-left: 17px;
                }

                margin-right: 18px;
            }

            .search {
                font-size: 20px;
                margin-right: 120px;
            }

            button {
                top: 0;
                font-size: 16px;
                padding: 14px 25px;
                border: none;
                background-color: #f9dd00;
                text-align: center;
                font-weight: bold;
            }
        }
    }

}

.education {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    .education_in {
        width: 74%;
        height: auto;

        .education_up {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;

            .education_up_text {
                .Name {
                    margin-top: 130px;
                    font-size: 50px;
                    font-weight: 700;
                    color: #212121;
                }

                .area {
                    margin-top: -38px;
                    font-size: 40px;
                    font-weight: 300;
                    color: rgb(99, 97, 97);
                }

                p {
                    margin-top: 28px;
                    font-size: 16px;
                    color: rgb(99, 97, 97);
                }

            }

            .education_up_img {
                margin-top: 131px;
                width: 568px;
                height: 417px;
                display: grid;
                grid-template-columns: auto auto;
                transition: 0.5s ease;

                .mor:hover {

                    transform: scale(1.1);
                    background-color: rgb(50, 3, 180);
                }

                .sari:hover {

                    transform: scale(1.1);
                    background-color: rgb(242, 245, 44);
                }

                .yesil:hover {

                    transform: scale(1.1);
                    background-color: rgb(43, 200, 56);
                }

                .mavi:hover {

                    transform: scale(1.1);
                    background-color: rgb(32, 129, 213);
                }

                div {
                    margin-left: 15px;
                    margin-top: 10px;
                    border: 1px solid rgb(206, 204, 204);

                    div {
                        width: 220px;
                        height: 170px;
                        border: none;

                        img {
                            white: 90px;
                            height: 90px;
                            color: rgb(255, 0, 0);
                        }

                        h1 {
                            margin-top: 50px;
                            font-size: 26px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .code {
            width: 100%;
            height: 490px;
            background-color: #ffffff;
            display: flex;
            align-items: center;

            div {
                width: 50%;

                .niye {
                    font-weight: 600;
                    color: #212121;
                    margin-bottom: -27px;
                }

                p {
                    strong {
                        // margin-top: -30px;
                        font-weight: bold;
                        font-size: 46px;
                    }
                }

                img {
                    margin-top: 16px;
                }
            }
        }
    }
}

.barCode {
    margin-top: 170px;
    width: 100%;
    height: 450px;

    .image {
        width: 100%;
        height: 100%;
        background-image: url('./photo/barCode.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        object-fit: cover;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: brightness(58%);
        -webkit-filter: brightness(58%);
        -moz-filter: brightness(58%);

        .image_text {
            width: 1300px;
            height: 400px;
            padding: 100px;
            padding-left: 120px;


            h2 {
                color: white;
                font-weight: 900;
                font-size: 21px;
                margin-left: 130px;
            }

            .rakam {
                display: flex;
                justify-content: center;
                align-items: center;

                h1 {
                    color: white;
                    font-size: 30px;
                    font-weight: bold;
                    margin-left: 20px;

                    strong {
                        font-size: 80px;
                    }
                }
            }
        }
    }
}

.mezun {
    margin-top: 60px;
    width: 100%;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .mezun_human {
        text-align: center;
        width: 60%;
        height: 91vh;

        &>h1 {
            font-size: 36px;

            strong {
                font-weight: bold;
                color: #212121;
            }
        }

        &>p {
            font-size: 20px;
            color: #5b5959;
        }

        // .points{
        //     width: 30px;
        //     height: 20px;
        //     background-color: aliceblue;
        //     .point{
        //         width: 8px;
        //         height: 8px;
        //         border-radius: 50%;
        //         background-color: #5b5959;
        //         margin-left: 10px;
        //     }
        // }


        .human {
            margin-top: 30px;
            display: flex;
            justify-content: center;

            &>img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }

            .human_info {
                margin-top: 20px;
                margin-left: 14px;

                &>h4 {
                    font-weight: 800;
                }

                &>p {
                    margin-left: -85px;
                    color: #5b5959;
                }
            }


        }

        .alt {
            margin-top: 180px;
            text-align: center;
            color: #5b5959;

            &>h1 {
                margin-bottom: -30px;
            }

            &>strong {
                font-weight: bold;
                color: #434141;
                font-size: 45px;
                margin-top: -30px;
            }

            .text_img {
                margin-top: 30px;
                margin-left: 22%;
                text-align: center;
                width: 510px;
                height: 200px;
                // & > p{

                // }
                &>img {
                    margin-top: 24px;
                }
            }
        }

    }

}

.sponsur {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;

    .sponsur_wit {
        width: 80%;
        height: 30vh;

        img {
            width: 130px;
            height: 40px;
            object-fit: cover;
            margin-left: 50px;
        }
    }
}

.bizim {
    display: flex;
    justify-content: center;

    .bizim_text {
        strong {
            font-weight: bold;
            font-size: 50px;
            margin-left: 90px;
        }

        h1 {
            margin-top: -20px;
            font-size: 50px;
        }

        div {
            margin-top: 30px;
            text-align: center;
            width: 120px;
            height: 5px;
            background-color: #f9dd00;
            margin-left: 90px;
        }
    }
}

.students {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 98vh;

    .students_in {
        width: 80%;
        height: 96vh;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        row-gap: -100px;

        img {
            width: 150px;
            height: 150px;
            margin-left: 12px;
        }
    }
}

.logIn {
    width: 100%;
    height: 56vh;
    background-color: #eeeded;
    display: flex;
    justify-content: center;
    align-items: center;

    .logIn_in {
        width: 100%;
        height: 44vh;

        .sol {
            display: inline-block;
            float: left;
            width: 40%;
            height: 100%;

            &>h1 {
                font-size: 42px;
                margin-bottom: -20px;
                margin-left: 180px;
            }

            &>div {
                margin-right: 60px;
                float: right;

                &>strong {
                    font-weight: bold;
                    font-size: 50px;
                }

                &>p {
                    margin-top: 30px;
                }
            }
        }

        .sag {
            display: inline-block;
            width: 60%;
            height: 100%;

            &>div {
                float: left;
                margin-left: 20px;


            }
        }
    }
}

.form-style-1 {
    margin: 10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style-1 label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
}

.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

.form-style-1 .field-divided {
    width: 49%;
}

.form-style-1 .field-long {
    width: 100%;
}

.form-style-1 .field-select {
    width: 100%;
}

.form-style-1 .field-textarea {
    height: 100px;
}

.form-style-1 input[type=submit],
.form-style-1 input[type=button] {
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}

.form-style-1 input[type=submit]:hover,
.form-style-1 input[type=button]:hover {
    background: #4691A4;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-style-1 .required {
    color: red;
}

.fiel {
    width: 20%;
}

.fileright {
    width: 72%;
    margin-left: 20px;
    padding: 10px 20px;
    border: none;
}

.department {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 60vh;

    .department_in {
        width: 80%;
        height: 70%;
        .departments{
            display: inline-block;
            margin-left: 50px;
        }
        .s{
            margin-left: 200px;
        }
    }
}

.location{
    background-color: #eeeded;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    & >h4{
        font-size: 17px;
    }
}

.footer{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .contact{
        width: 80%;
        height: 16vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5{
            font-size: 15px;
        }
        .sosial_icon{
            i{
                margin-left: 20px;
            }
        }
    }
}